.detalle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: solid black 5px;
    border-radius: 10px;
    width: 600px;
}

.contenedor-detalle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}