nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #001;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

li{
    margin: 15px 20px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #fff;
}