.sumar-restar{
    margin: 5px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cantidad{
    margin-left: 12px;
    margin-right: 12px;
}

.contador-cantidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}